# In diesem Zweig wird nur die Webseiten-Fassung (Sender 2) gefuehrt.
/*
!/.gitignore
!/Ai_Radio_Moderator_Bot/
/Ai_Radio_Moderator_Bot/*
!/Ai_Radio_Moderator_Bot/DDD-Webseite/
!/Ai_Radio_Moderator_Bot/werkzeuge/
!/Ai_Radio_Moderator_Bot/LICENSE

# Zugangswerte und Bau-Ausgaben bleiben lokal
/Ai_Radio_Moderator_Bot/DDD-Webseite/zugangsdaten/
/Ai_Radio_Moderator_Bot/DDD-Webseite/dienst/geheim.env
/Ai_Radio_Moderator_Bot/DDD-Webseite/DocOfficial/
__pycache__/
*.pyc
*~
